#params {
    margin: 2em;
    padding: 1em;
    border: 1px dashed lightgray;
    display: inline-block;
    vertical-align: middle;
}

.paramcontainer {
    margin-bottom: 1em;
}

.paramcontainer .ui-slider {
    display: inline-block;
    width: 20em;
    vertical-align: middle;
}

.paramcontainer label {
    display: inline-block;
    width: 3em;
    vertical-align: top;
    height: 2em;
    text-align: right;
    margin-right: 1em;
    margin-top: 0;
}

.paramcontainer input[type=radio] {
    display: inline-block;
    vertical-align: top;
    margin: 0.2em 1em 1em;
}

#visualizations {
    margin: 1em;
    padding: 1em;
    border: 1px dashed lightgray;
    display: inline-block;
    vertical-align: middle;
    width: 44em;
    height: 44em;
}

select {
    margin-left: 1em;
}