<html>
    <head>
        <title>parasynchrony transfer function test</title>
        <script src="/static/js/underscore-min.js"></script>
        <script src="/static/js/sprintf.min.js"></script>
        <script src="/static/js/jquery-2.1.1.js"></script>
        <script src="/static/js/jquery-ui.js"></script>
        <script src="/static/js/jquery-ui-slider-pips.js"></script>
        <script src="/static/js/d3.v3.min.js"></script>
        <script src="/static/js/vega.js"></script>
        <script src="/static/js/metrics.js"></script>

        <link href="/static/css/jquery-ui.css" rel="stylesheet">
        <link href="/static/css/jquery-ui-slider-pips.css" rel="stylesheet">
        <link href="/static/css/metrics.css" rel="stylesheet">
    </head>

    <body>
        <form id="params">
            <input type="hidden" name="axis_x_min" value="0"/>
            <input type="hidden" name="axis_x_max" value="10"/>
            <input type="hidden" name="axis_x_n" value="10"/>
            <input type="hidden" name="axis_y_min" value="0"/>
            <input type="hidden" name="axis_y_max" value="10"/>
            <input type="hidden" name="axis_y_n" value="10"/>
        </form>

        <div id="visualizations"></div>
    </body>
</html>
